* {
  text-align: center;
  color: #FFF;
}

nav {
  height: 15vh;
}

nav div{
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
}

p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
}

#home-nav {
  text-align: left;
  font-size: 33px;
}

#big-title {
  font-size: 75px;
  font-weight: bold;
}

.gallery {
  width: 100%;
  margin: 10px 0;
}

#download-btn {
  margin-top: 30px;
  border: 2px solid #FFF;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  height: 70px;
  font-size: 18px;
}

input {
  height: 85px;
  width: 100%;
  border: none;
  text-align: left;
  border-bottom: 1px solid grey;
  padding: 30px 0;
}

input::placeholder {
  font-size: 25px;
  color: #2C3E50;
}

#input-form{
  padding-bottom: 200px;
  border-bottom: 1px solid grey;
  margin-bottom: 60px;
}

#send-btn {
  width: 100px;
  height: 60px;
  background-color: #18BC9C;
  font-size: 20px;
  border-radius: 3px;
}

footer .footer-text, .footer-top-tiltes {
  padding: 5px 30px;
  font-weight: bold;
}

.footer-top-tiltes {
  font-size: 26px;
  margin-top: 60px;
}

.footer-text {
  font-size: 15px;
  margin-bottom: 60px;
}

#copy{
  margin: 30px 0;
}

/* ********** general ********* */

.bg-dark {
  background-color: #2C3E50;
}

.bg-light {
  background-color: #18BC9C;
}

.bg-darker {
  background-color: #1A252F;
}

.section-title {
  padding: 25px 0 25px;
  font-size: 50px;
  font-weight: bold;
}

.dark-txt {
  color: #2C3E50;
}

.section-feature {
  min-height: 80vh;
  padding: 70px 0 70px;
}

[class^="col-"].padding-zero {
  padding-left: 0;
  padding-right: 0;
}
